/*

font-family: 'Open Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Roboto Slab', serif;

*/

/* Globle Css */
.section{
    padding: 80px 0px;
}
.banner-title{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 62px;
    line-height: 70px;
    text-transform: uppercase;
}
.section-heading{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
}
.content-title{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
}
h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 36px !important;
    line-height: 48px !important;
}
h5{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 24px !important;
    line-height: 30px !important;
    margin-bottom: 0 !important;
}
h6{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 22px !important;
    line-height: 26px !important;
}
.body-intro{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 38px;
}
.section-intro{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 60px;
}
.medium-text{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    margin: 0px;
}
.buttons{
    display: flex;
}
.schedule-btn{
    box-shadow: 0px 4px 6px rgba(60, 59, 110, 0.25) !important;
    background-color: #fff !important;
    color: #000 !important;
    border: 1px solid #DFDFDF !important;
}
.schedule-btn,
.dark-btn{
    background: #B22234;
    box-shadow: 0px 2px 2px rgba(178, 34, 52, 0.4);
    border-radius: 23px;
    padding: 10px 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    border: 1px solid #B22234;
    color: #fff;
}
.dark-btn:hover{
    background-color: #fff !important;
    box-shadow: 0px 4px 6px rgba(60, 59, 110, 0.25) !important;
    color: #000 !important;
    border: 1px solid #DFDFDF;
}
.schedule-btn:hover{
    background-color: #B22234 !important;
    color: #fff !important;
    border: 1px solid #B22234 !important;
}
.navbar-expand-lg{
    padding: 0px 1rem !important;
}
ul{
    padding: 0;
    list-style: none;
    margin: 0px !important;
}
ul li a,
li{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: #000;
}
ul li a{
    margin-bottom: 0px;
}
.price-label{
    background-color: #B22234;
    border-radius: 7px;
    padding: 3px 10px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
}


/* Header */

.header{
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    padding: 20px 0px;
}
.header .logo{
    margin-left: 15px;
}
.header .navbar .navbar-nav li{
    margin: 0;
}
.header .navbar .navbar-nav li a:hover{
    color: #3C3B6E;
}
.header .navbar .navbar-nav li a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    color: #000000;
    padding-right: 30px;
  }

  /* Inner Banner */

.inner-banner{
    padding: 120px 0px;
    background-image: url(../images/banner-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
}
.inner-banner h6{
    font-size: 16px !important;
}
.character-animation,
.book-trailer,
.web-and-app{
    background-image: url(../images/banner-background-2.png);
}
.product-animation,
.explainer-video,
.business-and-advertise{
    background-image: url(../images/banner-background-3.png);
}
.animated-videos,
.animated-gifs,
.clothing-merchandise{
    background-image: url(../images/banner-background-4.png);
}
.logo-animation,
.art-and-illustration{
    background-image: url(../images/banner-background-5.png);
}
.app-and-website-video,
.packaging-and-label{
    background-image: url(../images/banner-background-6.png);
}
.web-and-app{
    padding: 45px 0px;
}
/* Brand Section */

.brand-section{
    padding: 40px 0px;
    background: #3C3B6E;
}

/* How it works */

.faq .section-heading,
.supported-section .section-heading,
.testimonial .section-heading,
.how-it-works .section-heading{
    padding: 10px 0px 70px 0px;
}
.how-it-works-content .content-title{
    margin: 1rem 0 0.6rem 0;
}
.how-it-works .dark-btn{
    margin-top: 70px;
}

/* Testimonial Section */

.testimonial{
    background-image: url(../images/testimonial-background.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.client-comments{
    padding: 10px;
    position: relative;
    margin-bottom: 50px;
}
.line-image{
    position: absolute;
    top: -8%;
    left: -5%;
}
.client-comments .medium-text{
    margin: 5px 0px 0px 0px;
}
.client-comments .medium-text span{
    color: #3C3B6E;
}

/* Faq Section */

.faq{
    color: #000;
    background-image: url(../images/faq-2.png);
    background-repeat: no-repeat;
    background-position: left -38%;
}
.faq .accordian-item{
    padding-bottom: 30px;
}

.accordian {
    cursor: pointer;
  }
  .accordian-header {
    position: relative;
    padding: 20px;
  }
  .accordian-header::after {
    content: '\002b';
    font-size: 2em;
    position: absolute;
    right: 20px;
    top: 8px;
    color: #000;
  }
  .accordian-header.active::after {
    content: '\2212';
  }
  .accordian-body {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease-out;
  }
  .accordian-body-content {
    padding: 30px 100px 15px 20px;
  }
  .your-question{
    border: 1px solid #3C3B6E;
    box-sizing: border-box;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    padding: 30px 20px;
    position: relative;
    margin-top: 80px;
    text-align: left;
  }
  .your-question img{
    position: absolute;
    top: -33%;
    right: -3%;
  }
  /* CTA */

  .cta{
      padding: 140px 0px;
      text-align: center;
      background-color: #3C3B6E;
      color: #fff;
      background-image: url(../images/cta-background.png);
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: contain;
  }
  .cta .schedule-btn{
      text-decoration: none;
  }
  .cta .medium-text{
      margin-bottom: 30px;
  }
  /* Footer */

  #footer{
      padding-top: 40px;
  }
  #footer h5{
      margin-top: 75px;
      margin-bottom: 30px !important;
  }
  #footer .links ul li{
      align-items: flex-start;
  }
#footer .links ul li a{
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}
#footer .links ul li img{
    margin-right: 10px;
}
#footer .links ul li a:hover{
    color: #B22234;
}
.company-links{
    margin-left: 30px;
}
.help-link {
    font-size: 18px;
    font-weight: 600;
    color: #3C3B6E;
    margin-bottom: 7px;
}
.service-links-2{
    margin-top: 135px;
}
.help-links img{
    margin-top: 5px;
}
.footer-bottom{
    margin-top: 40px;
    border-top: 2px solid #CECDFF;
    padding: 20px 50px;
}
.footer-bottom ul{
    display: flex;
    align-items: center;
}
.footer-bottom ul li,
.footer-bottom ul li a{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal !important;
    font-size: 16px !important;
    line-height: 20px !important;
    display: flex;
    align-items: center;
    margin: 0px;
    text-decoration: none;
}
.footer-bottom ul li img{
    width: 86px;
    margin: 0px 5px;
}
.footer-links ul li{
    margin-right: 30px;
}
.footer-bottom ul li a:hover{
    color: #B22234;
}

/* Service Page */

/* Banner */

.service-banner{
    padding: 40px 0px;
}
.service-slider-item{
    position: relative;
}
.service-banner-content{
    position: absolute !important;
    top: 35%;
    left: 22%;
}
.service-slider-item .section-heading{
    font-size: 42px;
    margin-bottom: 15px;
}
.service-slider-item .section-heading span{
    color: #3C3B6E;
}
.service-slider-item-2 .section-heading span{
    color: #1E929B;
}
.service-slider-item-3 .section-heading span{
    color: #FF6B01;
}
.service-slider-item-4 .section-heading span{
    color: #930E33;
}
.service-slider-item-5 .section-heading span{
    color: #AB6416;
}
.service-slider-item-6 .section-heading span{
    color: #F6759E;
}
.service-slider-item-7 .section-heading span{
    color: #EB0F15;
}
.service-slider-item .body-intro{
    margin-bottom: 10px;
    line-height: 26px;
}

/* Pricing */
    .all-services .dark-btn,
    .logo-design-services .dark-btn{
        border: 2px solid #B22234;
    }
    .web-design-services .dark-btn{
        background-color: #325EB6;
        border: 2px solid #325EB6;
        box-shadow: 0px 4px 6px rgba(50, 94, 182, 0.25);
    }
    .merchandise-services{
        background-image: url(../images/clothing-banner-2.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: 36%;
    }
    #merchandise-pack .dark-btn,
    .merchandise-services .dark-btn{
        background-color: #F3A33B;
        border: 2px solid #F3A33B;
        box-shadow: 0px 4px 6px rgba(243, 163, 59, 0.25);
    }
    .art-services .dark-btn{
        background: #0A529D;
        box-shadow: 0px 4px 6px rgba(10, 82, 157, 0.25);
        border: 2px solid #0A529D;
    }
    .packaging-services{
        background-image: url(../images/packaging-banner-2.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 36%;
    }
    .packaging-services .dark-btn{
        background: #C7C7CA;
        box-shadow: 0px 4px 6px rgba(199, 199, 202, 0.25);
        border: 2px solid #C7C7CA;
    }
    .product-animation-services,
    .threed-modeling-services,
    .logo-animation-services,
    .animated-gifs-services,
    .book-design-services{
        background-image: url(../images/book-banner-2.png);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 37%;
    }
    .book-design-services .dark-btn{
        background: #8DA156;
        box-shadow: 0px 4px 6px rgba(141, 161, 86, 0.25);
        border: 2px solid #8da156;
    }
    .animated-gifs-services{
        background-image: url(../images/animated-gif-2.gif);
    } 
    .animated-gifs-services .dark-btn{
        background: #742E12;
        box-shadow: 0px 4px 6px rgba(116, 46, 18, 0.25);
        border: 2px solid #742E12;
    }
    .logo-animation-services{
        background-image: url(../images/logo-animation-14.gif);
    }
    .logo-animation-services .dark-btn{
        background-color: #192350;
        box-shadow: 0px 4px 6px rgba(25, 35, 80, 0.25);
        border: 2px solid #192350;
    }
    .threed-modeling-services{
        background-image: url(../images/3d-character-8.png);
    }
    .threed-modeling-services .dark-btn{
        background: #6AFFFC;
        box-shadow: 0px 4px 6px rgba(106, 255, 252, 0.25);
        border: 2px solid #6AFFFC;
    }
    .product-animation-services{
        background-image: url(../images/product-animation-banner.gif);
    }
    .product-animation-services .dark-btn{
        background: #D2F0FF;
        box-shadow: 0px 4px 6px rgba(210, 240, 255, 0.25);
        border: 2px solid #d2f0ff;
    }
    /* Tabs */

  .tab-btn{
    background-color: #B22234;
    border: 2px solid #B22234;
    border-radius: 100px;
    padding: 13px 18px;
    color: #fff;
  }
  .tab-btn:hover{
    background-color: #ffffff;
    border: 2px solid #DEDEDE;
    color: #DEDEDE;
  }
  .pricing-section ul li.active,
  .pricing-section .portfolio-tab{
    margin-bottom: 0px !important;
    border: 1px solid #DEDEDE;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 17px 25px;
    }
  .pricing-section ul li.active{
      background-color: #3c3b6e;
      color: #fff;
  }
    .pricing-section .portfolio-tab:hover{
        background-color: #3C3B6E;
        color: #fff;
        border: 1px solid #3C3B6E;
    }
    .tabs .slick-slider .slick-track {
        width: 10000px !important;
        display: flex;
        justify-content: space-between;
    }
    .tabs .slick-slider .slick-track, .slick-slider .slick-list {
        width: 100%;
    }
    .tabs .slick-track:before, .slick-track:after {
        display: none;
        content: none;
    }
    .tab-btn:focus{
        outline: none;
    }

    /* Pricing Banner */

    .pricing-banner{
        margin-bottom: 60px;
    }
    .pricing-content{
        padding: 30px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
        text-align: center;
        color: #444444;
    }

    .pricing{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pricing-box .pricing{
        justify-content: left;
    }
    .pricing .price{
        color: #B22234;
        padding: 7px 15px;
        border: 2px solid #B22234;
        border-radius: 5px;
    }
    .pricing .price h4{
        margin: 0 !important;
        font-weight: bold;

    }
    .pricing-content .package-label{
        margin-bottom: 20px;
    }
    .pricing-content h5{
        margin: 20px 0px 5px 0 !important;
        font-weight: 700 !important;
    }
    .pricing-content .medium-text{
        margin-bottom: 20px;
    }
    .pricing h6{
        margin: 0px;
        margin-right: 15px;
        font-weight: 700 !important;
        font-size: 20px !important;
        text-decoration: line-through;
    }
    .pricing p{
        font-weight: normal;
        font-size: 16px;
        margin: 0;
        padding: 0px 10px 0px 0px;
    }
    .features h3{
        line-height: 40px !important; 
    }
    .pricing-content.features ul{
        margin: 40px 0px !important;
    }
    .pricing-box .fa-check,
    .features .fa-check{
        margin-right: 10px;
        color: #444444;
    }

    /* Pricing box */

   
    .pricing-box{
        padding: 30px;
        color: #444444;
        height: 100%;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
    }
    .pricing-box h5{
        margin: 30px 0px 10px 0px !important;
    }
    .pricing-box .pricing{
        margin: 20px 0px 30px 0px;
    }
    .pricing-box ul{
        margin: 30px 0px !important;
    }
    .portfolio-filter{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        display: none;
        margin-top: 60px;
      }

      /* Modal */

      .modal{
          padding: 0 !important;
    }
      .modal-dialog{
        max-width: 100% !important;
        margin: 0px !important;
        max-height: 100% !important;
    }
    .modal-content{
        max-height: 100% !important;
    }
    .close-btn{
        margin-bottom: 30px;
        padding: 0px;
        width: 50px;
        height: 50px;
        border-radius: 100px;
      }
      .close-btn:hover{
          background-color: #fff;
          border: 1px solid #dedede;
      }
      .close-btn .fa-times{
          font-size: 1.2em;
      }
      .modal-content{
          border: none !important;
      }
      .service-detail{
          padding-bottom: 25px;
          border-bottom: 1px solid #DEDEDE;
          margin-bottom: 40px;
      }
      .modal-content .section-heading{
          text-align: left;
          color: #B22234;
          margin: 30px 0 15px 0;
      }
      .modal-content .medium-text{
          color: #444444;
          margin-bottom: 15px;
      }
      .modal-content h3{
          color: #B22234;
      }
      .modal-content ul{
          margin: 30px 0 40px 0 !important;
      }
      .modal-content .fa-check{
          margin-right: 10px;
      }
      .modal-content .pricing{
          margin-right: 10px;
      } 
      
      /* Modal Style */

      #merchandise-pack .modal-content h3,
      #merchandise-pack .modal-content .section-heading {
          color: #F3A33B;
      }
      #illustration-pack .modal-content h3,
      #illustration-pack .modal-content .section-heading{
          color: #002C54;
      }
      #illustration-pack .dark-btn{
          background-color: #002C54;
          border: 2px solid #002C54;
          box-shadow: 0px 4px 6px rgba(0, 44, 84, 0.25);
      }
      #webpage .modal-content .section-heading{
          color: #FB6702;
      }
      #webpage .dark-btn{
          background-color: #FB6702;
          border: 2px solid #FB6702;
          box-shadow: 0px 4px 6px rgba(251, 103, 2, 0.25);
      }
      #wordpress-theme .modal-content .section-heading{
          color: #995F53;
      }
      #wordpress-theme .dark-btn{
          background-color: #995F53;
          border: 2px solid #995F53;
          box-shadow: 0px 4px 6px rgba(153, 95, 83, 0.25);
      }
      #landingpage .modal-content .section-heading{
          color: #8A8A8A;
      }
      #landingpage .dark-btn{
          background-color: #8A8A8A;
          border: 2px solid #8A8A8A;
          box-shadow: 0px 4px 6px rgba(138, 138, 138, 0.25);
      }
      #graphic-illustration .modal-content .section-heading{
          color: #3c2279;
      }
      #graphic-illustration .dark-btn{
          background-color: #3c2279;
          border: 2px solid #3c2279;
          box-shadow: 0px 4px 6px rgba(60, 34, 121, 0.25);
      }
      #book-cover .modal-content .section-heading{
        color: #EC0D16;
      }
      #book-cover .dark-btn{
          background-color: #EC0D16;
          border: 2px solid #EC0D16;
          box-shadow: 0px 4px 6px rgba(236, 13, 22, 0.25);
      }
      #product-package .modal-content .section-heading{
          color: #8B6256;
      }
      #product-package .dark-btn{
          background-color: #8B6256;
          border: 2px solid #8B6256;
          box-shadow: 0px 4px 6px rgba(139, 98, 86, 0.25);
      }
      #poster .modal-content .section-heading{
          color: #A91D85;
      }
      #poster .dark-btn{
          background-color: #A91D85;
          border: 2px solid #A91D85;
          box-shadow: 0px 4px 6px rgba(169, 29, 133, 0.25);
      }
      #Product-label .modal-content .section-heading{
        color: #590B08;
      }
      #Product-label .dark-btn{
          background-color: #590B08;
          border: 2px solid #590B08;
          box-shadow: 0px 4px 6px rgba(89, 11, 8, 0.25);
      }
@media only screen and (max-width: 767px) {

    /* Global */

    .section{
        padding: 40px 0px;
    }
    .banner-title{
        font-size: 34px;
        line-height: 38px;
    }
    .section-heading{
        font-size: 30px;
        line-height: 34px;
    }
    .content-title{
        font-size: 22px;
        line-height: 26px;
    }
    h3{
        font-size: 26px !important;
        line-height: 30px !important;
    }
    h5{
        font-size: 20px !important;
        line-height: 24px !important;
    }
    .body-intro{
        font-size: 18px;
        line-height: 28px;
    }
    .section-intro{
        font-size: 17px;
        line-height: 29px;
    }
    .medium-text{
        font-size: 16px;
        line-height: 20px;
    }
    .schedule-btn,
    .dark-btn{
        padding: 7px 15px;
        font-size: 16px;
        line-height: 20px;
    }
    ul li a,
    li{
        font-size: 18px;
        line-height: 22px;
    }

    /* Header */

    .mobile-header{
        background: #FFFFFF;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        padding: 10px 0;
    }
    .mobile-header .fa-phone-alt,
    .mobile-header .fa-bars{
        color: #3C3B6E;
        font-size: 1.5em;
    }

    /* Banner */

    .inner-banner{
        background-image: url(../images/mobile-banner-background.png);
        background-size: 100%;
        background-position: top;
        padding: 60px 0px;
        text-align: center;
    }
    .buttons{
        justify-content: center;
    }
    .banner-slider{
        padding-top: 60px;
    }

    /* Brand Section */
    
    .brand-section{
        padding: 20px 0px;
    }
    .brand-section .logo-slide{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .brand-section .logo-slide.slick-dotted.slick-slider{
        margin-bottom: 0;
      }
      .brand-section .logo-slide .slick-dots{
        display: none !important;
      }
      .brand-section .logo-slide .slick-list .slick-track .slick-slide div{
        display: flex;
        justify-content: center;
      }
      .brand-section .logo-slide .slick-list .slick-track .slick-slide img{
        width: 75% !important;
      }
      .brand-section .logo-slide .slick-track{
        display: flex;
        align-items: center;
      }

    /* How it works */

    .faq .section-heading,
    .supported-section .section-heading,
    .testimonial .section-heading,
    .how-it-works .section-heading{
        padding: 10px 0px 40px 0px;
    }
    .how-it-works-content{
        margin-bottom: 30px;
    }
    .how-it-works-content .content-title {
        margin: 1rem 0 0.3em 0;
    }
    .how-it-works .dark-btn{
        margin-top: 20px;
    }

    /* Faq Section */

    .faq{
        background-position: -70px -250%;
    }
    .faq .accordian-item{
        padding-bottom: 15px;
    }
    .accordian-header {
        padding: 10px;
    }
    .accordian-item h5 {
        font-size: 17px !important;
        font-weight: normal !important;
    }
    .accordian-header::after {
        right: 0px;
        top: -6px;
    }
    .accordian-body-content {
        padding: 10px 40px 10px 10px;
    }
    .your-question{
        padding: 5px 10px;
        margin-top: 40px;
        text-align: center;
    }
    .your-question h6{
        font-size: 14px !important;
    }

    /* CTA SECTION */

    .cta{
        text-align: center;
        background-image: none;
    }
    /* Footer */

  #footer{
    padding-top: 40px;
}
#footer h5{
    margin-top: 30px;
    margin-bottom: 20px !important;
}
.company-links{
  margin-left: 0px;
}
.help-link {
  font-size: 18px;
  font-weight: 600;
  color: #3C3B6E;
  margin-bottom: 7px;
}
.service-links-2{
  margin-top: 0px;
}
.footer-bottom{
  margin-top: 0px;
  padding: 10px;
}
.footer-bottom ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-bottom ul li,
.footer-bottom ul li a{
  font-size: 12px !important;
  line-height: 16px !important;
}
.footer-bottom ul li img{
  width: 94px;
  margin: 0px 10px;
}
.footer-links ul li{
  margin-right: 50px;
  margin-bottom: 0px;
}
.footer-links{
    margin: 30px 0px;
}
.footer-links ul li:last-child{
    margin-right: 0px;
}
.footer-links ul li a .fa-facebook-f,
.footer-links ul li a .fa-pinterest-p,
.footer-links ul li a .fa-instagram,
.footer-links ul li a .fa-twitter{
    font-size: 1.5em;
    color: #3C3B6E;
}

/* Explainer Video */
.inner-banner .product-animate,
.inner-banner .logo-animation,
.inner-banner .animated-gif,
.inner-banner .whiteboard-animation{
    margin-top: 50px;
}

/* Call Schedule */

.schedule{
    margin-bottom: 50px;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
    /* Globle Css */
.section{
    padding: 60px 0px;
}
.banner-title{
    font-size: 62px;
    line-height: 70px;
}
.section-heading{
    font-size: 38px;
    line-height: 50px;
}
.content-title{
    font-size: 30px;
    line-height: 38px;
}
h3{
    font-size: 36px !important;
    line-height: 48px !important;
}
h5{
    font-size: 24px !important;
    line-height: 30px !important;
}
h6{
    font-size: 22px !important;
    line-height: 26px !important;
}
.body-intro{
    font-size: 22px;
    line-height: 38px;
}
.section-intro{
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 60px;
}
.medium-text{
    font-size: 18px;
    line-height: 26px;
}
.light-btn,
.dark-btn{
    padding: 15px 30px;
    font-size: 18px;
    line-height: 23px;
    margin-top: 10px;
}
ul li a,
li{
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
}
.price-label{
    padding: 3px 10px;
    font-size: 18px;
    line-height: 28px;
}
.package-label{
    margin-top: 50px;
    margin-bottom: 20px;
}

/* Header */

.mobile-header{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}
.mobile-header .fa-phone-alt,
.mobile-header .fa-bars{
    color: #3C3B6E;
    font-size: 1.5em;
}

/* Banner */

.inner-banner{
    background-size: 100%;
    background-position: top;
    padding: 60px 0px;
    text-align: center;
}
.buttons{
    justify-content: center;
}
.banner-slider{
    padding-top: 60px;
}

/* Brand Section */

.brand-section .logo-slide{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .brand-section .logo-slide.slick-dotted.slick-slider{
    margin-bottom: 0;
  }
  .brand-section .logo-slide .slick-dots{
    display: none !important;
  }
  .brand-section .logo-slide .slick-list .slick-track .slick-slide div{
    display: flex;
    justify-content: center;
  }
  .brand-section .logo-slide .slick-list .slick-track .slick-slide img{
    width: 75% !important;
  }
  .brand-section .logo-slide .slick-track{
    display: flex;
    align-items: center;
  }

/* How it works */

.how-it-works{
    background-size: 75%;
}
.faq .section-heading,
.supported-section .section-heading,
.testimonial .section-heading,
.how-it-works .section-heading{
    padding: 20px 0px 40px 0px;
}
.step-1{
    font-size: 120px;
    margin-right: -20px;
}
.how-it-works .dark-btn{
    margin-top: 60px;
}

/* Faq Section */

.faq{
    background-position: -30px -202%;
}
.faq .accordian-item{
    padding-bottom: 15px;
}
.accordian-header {
    padding: 10px;
}
.accordian-item h5{
    font-size: 18px !important;
}
.accordian-header::after {
    right: 0px;
    top: -6px;
}
.accordian-body-content {
    padding: 10px 40px 10px 10px;
}
.your-question{
    padding: 5px 10px;
    margin-top: 40px;
}
.your-question h6{
    font-size: 14px !important;
}
.your-question img {
    width: 15%;
    top: -28%;
    right: 3%;
}
/* CTA SECTION */

.cta{
    text-align: center;
}

/* Footer */

/* Footer */

#footer{
padding-top: 40px;
}
#footer h5{
margin-top: 30px;
margin-bottom: 30px !important;
}
.company-links{
margin-left: 0px;
}
.links ul li a{
    margin-bottom: 0;
}
.help-link {
font-size: 18px;
font-weight: 600;
color: #3C3B6E;
margin-bottom: 7px;
}
.service-links-2{
margin-top: 90px;
}
.footer-links ul li a{
    margin-bottom: 0;
}
.footer-bottom{
margin-top: 0px;
padding: 10px;
}
.footer-bottom ul{
display: flex;
align-items: center;
justify-content: center;
}
.footer-bottom ul li,
.footer-bottom ul li a{
font-size: 16px !important;
line-height: 20px !important;
}
.footer-bottom ul li img{
width: 100px;
margin: 0px 10px;
}
.footer-links ul li{
margin-right: 85px;
margin-bottom: 0px;
}
.footer-links{
margin: 40px 0px;
}
.footer-links ul li:last-child{
margin-right: 0px;
}
.footer-links ul li a .fa-facebook-f,
.footer-links ul li a .fa-pinterest-p,
.footer-links ul li a .fa-instagram,
.footer-links ul li a .fa-twitter{
font-size: 2em;
color: #3C3B6E;
}

}